body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


table

{

    border-collapse: collapse;

}

td, th /* Mettre une bordure sur les td ET les th */

{

    border: 2px solid black;

}

#nameTypeQuests {
    font-weight: bold;
}