<%- contentFor('header') %>
<link rel='stylesheet' href='/stylesheets/style.css' />

<%- contentFor('body') %>
<div class="row">
  <div class="col-12">
    <h1 class="h1">Supprimer une ressource</h1>
    <br/>
    <form action="/admin/deleteRessource/<%= ressource.id %>" method="post">
      <div class="alert alert-danger" role="alert">
        Etes-vous sur de vouloir supprimer la ressource: <%= ressource.name %> ?
      </div>
      <button type="submit" class="btn btn-danger">Supprimer</button>
      <a href="/admin/ressources" class="btn btn-success" role="button">Annuler</a>
    </form>
  </div>
</div>
